html
  head
    link(href="/vendor/bootstrap/dist/css/bootstrap.min-slate.css", rel="stylesheet")
    link(href="/vendor/polymer/polymer.html", rel="import")
    script(src="/vendor/eventEmitter/EventEmitter.min.js")
    script(src="/vendor/moment/min/moment.min.js")
    script(src="/vendor/numeral/min/numeral.min.js")
    script(src="/public/js/metyl.js")
    script(src="/public/js/subscription.js")
    link(href="/public/css/metyl.css", rel="stylesheet")
    link(href="/public/polymers/gitlab/merge-request.html", rel="import")
    link(href="/public/polymers/gitlab/commit-push.html", rel="import")
    link(href="/public/polymers/gitlab/tag-push.html", rel="import")
    link(href="/public/polymers/gitlab/gitlab-build.html", rel="import")
    link(href="/vendor/nanoscroller/bin/css/nanoscroller.css", rel="stylesheet")


    style.
      #event-list {
        max-width: 100%;
        overflow: hidden;
      }

      .header {
        background-color: #7a8288;
      }

      .page-title {
        color: #fff;
        font-size: 60px;
        text-shadow: 10px 10px 30px #8A0707;
      }

      .navbar-brand {
        display: block;
        text-align: center;
      }

      .info-row {
        margin-top: 40px;
      }

      .info-row .panel-body h2 {
        margin: 0;
      }
      .info-row .panel-body {
        text-align: center;
      }

      .info-row .panel-title {
        font-size: 2em;
      }

      .monospace {
        font-family:monospace;
      }

      #event-list {
        //- overflow-y: auto;
        //- padding-right: 10px;
      }

      #event-list-container {
        //- position: relative;
        height: 10px;
      }

      .nano .nano-pane {
        background-color: #888;
      }

      .nano .nano-slider {
        background-color: #111;
      }

      .nano .nano-content {
        margin-left: 15px;
        margin-right: 40px;
      }

      .nano .nano-pane {
        margin-right: 20px;
        display: block !important;
      }

      .info-row-sep {
        border-color: #7a8288;
      }

  body
    nav.navbar.navbar-default
      div.container-fluid
        div
          div.navbar-brand Met&yuml;l

    div.container-fluid
      div.row
        div.col-md-12
          h1.text-center.page-title(contenteditable="true")= title

      div.row.info-row
        div.col-md-6.text-center
          div.panel.panel-default
            div.panel-heading
              h1.panel-title Activity Today
            div.panel-body
              h2
                span.monospace#today-event-count 0
                span &nbsp; events
              h3
                span.monospace#inactive-time Never
                span &nbsp; since last event

        div.col-md-6.text-center
          div.panel.panel-default
            div.panel-heading
              h1.panel-title.text-center Activity This Week
            div.panel-body
              h2
                span.monospace#week-event-count 0
                span &nbsp; events
              h3
                span.monospace#event-rate 0.0
                span &nbsp; events / per day

        div.col-md-12
          hr.info-row-sep

      div.row
        div.col-md-12#event-list-container.nano
          div.nano-content
            ul.event-list#event-list

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js")
    script(src="/socket.io/socket.io.js")
    script.
      var TestEvents = [
        {"object_kind":"merge_request","user":{"name":"Adam Meily","username":"meilya","avatar_url":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg"},"project":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"object_attributes":{"id":560,"target_branch":"master","source_branch":"branch2","source_project_id":82,"author_id":6,"assignee_id":null,"title":"updated redmine; closes #1111111","created_at":"2016-06-21 23:34:32 UTC","updated_at":"2016-06-21 23:34:32 UTC","milestone_id":null,"state":"opened","merge_status":"unchecked","target_project_id":82,"iid":10,"description":"Some original body content.","position":0,"locked_at":null,"updated_by_id":null,"merge_error":null,"merge_params":{"force_remove_source_branch":"1"},"merge_when_build_succeeds":false,"merge_user_id":null,"merge_commit_sha":null,"deleted_at":null,"source":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"target":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"last_commit":{"id":"5c73f27b85b0c59d41765ae8b19580fe9e430ac7","message":"updated redmine; closes #1111111\n","timestamp":"2015-03-04T10:41:14-05:00","url":"https://example.gitlab.lan/meilya/testproject/commit/5c73f27b85b0c59d41765ae8b19580fe9e430ac7","author":{"name":"Adam Meily","email":"meilya@ainfosec.com"}},"work_in_progress":false,"url":"https://example.gitlab.lan/meilya/testproject/merge_requests/10","action":"open"},"repository":{"name":"TestProject","url":"git@example.gitlab.lan:meilya/testproject.git","description":"","homepage":"https://example.gitlab.lan/meilya/testproject"}},
        {"object_kind":"note","user":{"name":"Adam Meily","username":"meilya","avatar_url":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg"},"project_id":82,"project":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"object_attributes":{"id":4601,"note":"Here's a comment.","noteable_type":"MergeRequest","author_id":6,"created_at":"2016-06-21 23:38:23 UTC","updated_at":"2016-06-21 23:38:23 UTC","project_id":82,"attachment":null,"line_code":null,"commit_id":"","noteable_id":560,"system":false,"st_diff":null,"updated_by_id":null,"is_award":false,"type":null,"url":"https://example.gitlab.lan/meilya/testproject/merge_requests/10#note_4601"},"repository":{"name":"TestProject","url":"git@example.gitlab.lan:meilya/testproject.git","description":"","homepage":"https://example.gitlab.lan/meilya/testproject"},"merge_request":{"id":560,"target_branch":"master","source_branch":"branch2","source_project_id":82,"author_id":6,"assignee_id":null,"title":"updated redmine; closes #1111111","created_at":"2016-06-21 23:34:32 UTC","updated_at":"2016-06-21 23:38:23 UTC","milestone_id":null,"state":"opened","merge_status":"can_be_merged","target_project_id":82,"iid":10,"description":"Some original body content.","position":0,"locked_at":null,"updated_by_id":null,"merge_error":null,"merge_params":{"force_remove_source_branch":"1"},"merge_when_build_succeeds":false,"merge_user_id":null,"merge_commit_sha":null,"deleted_at":null,"source":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"target":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"last_commit":{"id":"5c73f27b85b0c59d41765ae8b19580fe9e430ac7","message":"updated redmine; closes #1111111\n","timestamp":"2015-03-04T10:41:14-05:00","url":"https://example.gitlab.lan/meilya/testproject/commit/5c73f27b85b0c59d41765ae8b19580fe9e430ac7","author":{"name":"Adam Meily","email":"meilya@ainfosec.com"}},"work_in_progress":false}},
        {"object_kind":"merge_request","user":{"name":"Adam Meily","username":"meilya","avatar_url":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg"},"project":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"object_attributes":{"id":560,"target_branch":"master","source_branch":"branch2","source_project_id":82,"author_id":6,"assignee_id":null,"title":"updated redmine; closes #1111111","created_at":"2016-06-21 23:34:32 UTC","updated_at":"2016-06-21 23:40:35 UTC","milestone_id":null,"state":"opened","merge_status":"can_be_merged","target_project_id":82,"iid":10,"description":"Some original body content.\r\n\r\na new body.","position":0,"locked_at":null,"updated_by_id":6,"merge_error":null,"merge_params":{"force_remove_source_branch":"1"},"merge_when_build_succeeds":false,"merge_user_id":null,"merge_commit_sha":null,"deleted_at":null,"source":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"target":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"last_commit":{"id":"5c73f27b85b0c59d41765ae8b19580fe9e430ac7","message":"updated redmine; closes #1111111\n","timestamp":"2015-03-04T10:41:14-05:00","url":"https://example.gitlab.lan/meilya/testproject/commit/5c73f27b85b0c59d41765ae8b19580fe9e430ac7","author":{"name":"Adam Meily","email":"meilya@ainfosec.com"}},"work_in_progress":false,"url":"https://example.gitlab.lan/meilya/testproject/merge_requests/10","action":"update"},"repository":{"name":"TestProject","url":"git@example.gitlab.lan:meilya/testproject.git","description":"","homepage":"https://example.gitlab.lan/meilya/testproject"}},
        {"object_kind":"push","event_name":"push","before":"5c73f27b85b0c59d41765ae8b19580fe9e430ac7","after":"eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","ref":"refs/heads/branch2","checkout_sha":"eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","message":null,"user_id":6,"user_name":"Adam Meily","user_email":"meilya@ainfosec.com","user_avatar":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg","project_id":82,"project":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"commits":[{"id":"eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","message":"an additional commit message\n\nSome extra long body\n","timestamp":"2016-06-21T19:43:54-04:00","url":"https://example.gitlab.lan/meilya/testproject/commit/eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","author":{"name":"Adam Meily","email":"meilya@ainfosec.com"},"added":[],"modified":["Redmine"],"removed":[]}],"total_commits_count":1,"repository":{"name":"TestProject","url":"git@example.gitlab.lan:meilya/testproject.git","description":"","homepage":"https://example.gitlab.lan/meilya/testproject","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","visibility_level":0}},
        {"object_kind":"merge_request","user":{"name":"Adam Meily","username":"meilya","avatar_url":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg"},"project":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"object_attributes":{"id":561,"target_branch":"master","source_branch":"branch2","source_project_id":82,"author_id":6,"assignee_id":6,"title":"Branch2","created_at":"2016-06-21 23:50:18 UTC","updated_at":"2016-06-21 23:52:32 UTC","milestone_id":null,"state":"merged","merge_status":"can_be_merged","target_project_id":82,"iid":11,"description":"Take 2.\r\n\r\nasdf","position":0,"locked_at":null,"updated_by_id":6,"merge_error":null,"merge_params":{"force_remove_source_branch":null},"merge_when_build_succeeds":false,"merge_user_id":null,"merge_commit_sha":"358c7be6a7e6527578000c46f233161a9a9e3398","deleted_at":null,"source":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"target":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"last_commit":{"id":"eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","message":"an additional commit message\n\nSome extra long body\n","timestamp":"2016-06-21T19:43:54-04:00","url":"https://example.gitlab.lan/meilya/testproject/commit/eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","author":{"name":"Adam Meily","email":"meilya@ainfosec.com"}},"work_in_progress":false,"url":"https://example.gitlab.lan/meilya/testproject/merge_requests/11","action":"merge"},"repository":{"name":"TestProject","url":"git@example.gitlab.lan:meilya/testproject.git","description":"","homepage":"https://example.gitlab.lan/meilya/testproject"},"assignee":{"name":"Adam Meily","username":"meilya","avatar_url":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg"}},
        {"object_kind":"merge_request","user":{"name":"Adam Meily","username":"meilya","avatar_url":"https://example.gitlab.lan/uploads/user/avatar/6/walter.jpg"},"project":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"object_attributes":{"id":560,"target_branch":"master","source_branch":"branch2","source_project_id":82,"author_id":6,"assignee_id":null,"title":"updated redmine; closes #1111111","created_at":"2016-06-21 23:34:32 UTC","updated_at":"2016-06-21 23:48:40 UTC","milestone_id":null,"state":"closed","merge_status":"unchecked","target_project_id":82,"iid":10,"description":"Some original body content.\r\n\r\na new body.","position":0,"locked_at":null,"updated_by_id":6,"merge_error":null,"merge_params":{"force_remove_source_branch":null},"merge_when_build_succeeds":false,"merge_user_id":null,"merge_commit_sha":null,"deleted_at":null,"source":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"target":{"name":"TestProject","description":"","web_url":"https://example.gitlab.lan/meilya/testproject","avatar_url":null,"git_ssh_url":"git@example.gitlab.lan:meilya/testproject.git","git_http_url":"https://example.gitlab.lan/meilya/testproject.git","namespace":"meilya","visibility_level":0,"path_with_namespace":"meilya/testproject","default_branch":"master","homepage":"https://example.gitlab.lan/meilya/testproject","url":"git@example.gitlab.lan:meilya/testproject.git","ssh_url":"git@example.gitlab.lan:meilya/testproject.git","http_url":"https://example.gitlab.lan/meilya/testproject.git"},"last_commit":{"id":"eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","message":"an additional commit message\n\nSome extra long body\n","timestamp":"2016-06-21T19:43:54-04:00","url":"https://example.gitlab.lan/meilya/testproject/commit/eaa2c94dddd5d74575c8bcc1311f4bc4329c29db","author":{"name":"Adam Meily","email":"meilya@ainfosec.com"}},"work_in_progress":false,"url":"https://example.gitlab.lan/meilya/testproject/merge_requests/10","action":"close"},"repository":{"name":"TestProject","url":"git@example.gitlab.lan:meilya/testproject.git","description":"","homepage":"https://example.gitlab.lan/meilya/testproject"}},
        {"object_kind":"build","ref":"master","tag":false,"before_sha":"0aa8989c23674663dc238113e0a912842cf98d15","sha":"0aa8989c23674663dc238113e0a912842cf98d15","build_id":991,"build_name":"job1","build_stage":"test","build_status":"pending","build_started_at":null,"build_finished_at":null,"build_duration":null,"build_allow_failure":false,"project_id":82,"project_name":"Adam Meily / TestProject","user":{"id":6,"name":"Adam Meily","email":"meilya@ainfosec.com"},"commit":{"id":1265,"sha":"0aa8989c23674663dc238113e0a912842cf98d15","message":"add stupid buildscript\n","author_name":"Adam Meily","author_email":"meilya@ainfosec.com","status":"pending","duration":null,"started_at":null,"finished_at":null},"repository":{"name":"TestProject","url":"git@gitlab.ais:meilya/testproject.git","description":"","homepage":"https://gitlab.ais/meilya/testproject","git_http_url":"https://gitlab.ais/meilya/testproject.git","git_ssh_url":"git@gitlab.ais:meilya/testproject.git","visibility_level":0}},
        {"object_kind":"build","ref":"master","tag":false,"before_sha":"0aa8989c23674663dc238113e0a912842cf98d15","sha":"0aa8989c23674663dc238113e0a912842cf98d15","build_id":991,"build_name":"job1","build_stage":"test","build_status":"running","build_started_at":"2016-06-23 19:11:52 UTC","build_finished_at":null,"build_duration":0.033446945,"build_allow_failure":false,"project_id":82,"project_name":"Adam Meily / TestProject","user":{"id":6,"name":"Adam Meily","email":"meilya@ainfosec.com"},"commit":{"id":1265,"sha":"0aa8989c23674663dc238113e0a912842cf98d15","message":"add stupid buildscript\n","author_name":"Adam Meily","author_email":"meilya@ainfosec.com","status":"running","duration":0,"started_at":"2016-06-23 19:11:52 UTC","finished_at":null},"repository":{"name":"TestProject","url":"git@gitlab.ais:meilya/testproject.git","description":"","homepage":"https://gitlab.ais/meilya/testproject","git_http_url":"https://gitlab.ais/meilya/testproject.git","git_ssh_url":"git@gitlab.ais:meilya/testproject.git","visibility_level":0}},
        {"object_kind":"build","ref":"master","tag":false,"before_sha":"5f5014cd8206de6a747ad83149a4c92967f1598f","sha":"5f5014cd8206de6a747ad83149a4c92967f1598f","build_id":992,"build_name":"job1","build_stage":"test","build_status":"success","build_started_at":"2016-06-23 19:15:32 UTC","build_finished_at":"2016-06-23 19:15:34 UTC","build_duration":2.3562357,"build_allow_failure":false,"project_id":82,"project_name":"Adam Meily / TestProject","user":{"id":6,"name":"Adam Meily","email":"meilya@ainfosec.com"},"commit":{"id":1266,"sha":"5f5014cd8206de6a747ad83149a4c92967f1598f","message":"fix build script\n","author_name":"Adam Meily","author_email":"meilya@ainfosec.com","status":"success","duration":2,"started_at":"2016-06-23 19:15:32 UTC","finished_at":"2016-06-23 19:15:34 UTC"},"repository":{"name":"TestProject","url":"git@gitlab.ais:meilya/testproject.git","description":"","homepage":"https://gitlab.ais/meilya/testproject","git_http_url":"https://gitlab.ais/meilya/testproject.git","git_ssh_url":"git@gitlab.ais:meilya/testproject.git","visibility_level":0}},
        {"object_kind":"build","ref":"master","tag":false,"before_sha":"0aa8989c23674663dc238113e0a912842cf98d15","sha":"0aa8989c23674663dc238113e0a912842cf98d15","build_id":991,"build_name":"job1","build_stage":"test","build_status":"failed","build_started_at":"2016-06-23 19:11:52 UTC","build_finished_at":"2016-06-23 19:11:54 UTC","build_duration":2.0035548,"build_allow_failure":false,"project_id":82,"project_name":"Adam Meily / TestProject","user":{"id":6,"name":"Adam Meily","email":"meilya@ainfosec.com"},"commit":{"id":1265,"sha":"0aa8989c23674663dc238113e0a912842cf98d15","message":"add stupid buildscript\n","author_name":"Adam Meily","author_email":"meilya@ainfosec.com","status":"failed","duration":2,"started_at":"2016-06-23 19:11:52 UTC","finished_at":"2016-06-23 19:11:54 UTC"},"repository":{"name":"TestProject","url":"git@gitlab.ais:meilya/testproject.git","description":"","homepage":"https://gitlab.ais/meilya/testproject","git_http_url":"https://gitlab.ais/meilya/testproject.git","git_ssh_url":"git@gitlab.ais:meilya/testproject.git","visibility_level":0}}
      ];
      var app = null;

      function onResize() {
        var height = $(window).height();
        var $eventList = $("#event-list-container");
        $eventList.height(height - $eventList.offset().top);
        console.log("Height: %d", $eventList.height());
      }

      function processSamples() {
        var index = 0;
        var interval = setInterval(function() {
          if(index < TestEvents.length) {
            app.process({
              data: TestEvents[index],
              origin: "gitlab.com",
              timestamp: moment().unix()
            });
            index += 1;
          } else {
            clearInterval(interval);
          }
        }, 2000);
      }

      $(document).ready(function() {
        app = new Metyl.Subscription();

        // Initialize the subscription
        app.initialize('#{room}', processSamples);

        app.on('renderItem', function(elementName, event) {
          // Render an element generated from an event.
          var element = document.createElement(elementName);
          element.data = event.data;
          element.origin = event.origin;
          element.style.display = "none";

          $("#event-list").prepend(element);
          element.show();
        }).on('inactive', function(inactiveSeconds) {
          // Update the inactivity seconds
          if(inactiveSeconds === null) {
            return;
          }

          var duration = moment.duration({
            seconds: inactiveSeconds
          });

          var text =  "";

          if(duration.asHours() >= 100.0) {
            text = duration.asDays().toFixed() + "days | ";
          }

          text += Metyl.zeroPad(duration.hours(), 2) + ":" +
                  Metyl.zeroPad(duration.minutes(), 2) + ":" +
                  Metyl.zeroPad(duration.seconds(), 2);
          $("#inactive-time").text(text);
        }).on('stats', function(stats) {
          // Update today's statistics
          $("#week-event-count").text(
            numeral(stats.week).format("0,0[.]0a")
          );

          $("#event-rate").text(
            numeral(stats.ratePerDay).format("0,0[.]00a")
          );

          $("#today-event-count").text(
            numeral(stats.today).format("0,0[.]0a")
          );
        });

        $(window).resize(onResize);
        onResize();

        $("#event-list-container").nanoScroller({ alwaysVisible: true });
      });
