
body {
    background-color: #212121;
}

.event-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #000;
}

.event-list-item {

  background-color: #263238;
  margin-bottom: 5px;
  border: 1px solid #37474f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.event-list-item-status {
  display: table-cell;
  padding: 0 15px;
  vertical-align: middle;
}

.event-list-item-content {
    padding: 10px 15px;
    display: table-cell;
    vertical-align: middle;
}


.event-list-item-status.accept {
    background-color: #62c462;
    color: #fff;
}

.event-list-item-status.reject {
    background-color: #df8505;
    color: #fff;
}

.event-list-item-status.new {
    background-color: #5bc0de;
    color: #fff;
}

.event-list-item-status.update {
    background-color: #f89406;
    color: #fff;
}

.status-verb.new {
    color: #5bc0de;
    font-weight: bold;
}

.status-verb.update {
    color: #f89406;
    font-weight: bold;
}

.status-verb.reject {
    color: #df8505;
    font-weight: bold;
}

.status-verb.accept {
    color: #62c462;
    font-weight: bold;
}

.user-name {
    color: #c6ff00;
}

.project-name {
    background-color: #6a1b9a;
    color: #fff;
    border-radius: 0.25em;
    padding: 5px 10px;
    display: inline-block;
}

.status-badge {
    padding: 5px;
    background-color: #49515a;
    border-radius: 10px;
    border-color: #020202;
    border-width: 1px;
    border-style: solid;
}
